 <ion-view view-title="Inicio" name="home-app-view" hide-nav-bar="true" >
	<div class="bar bar-header-transparent">
	  <button class="button button-icon icon ion-android-menu text-white" ng-click="toggleLeft()"></button>
	  <div class="h1 title">Daimont</div>
	  <a ui-sref="login" href="#/login" class="button button-icon icon ion-ios-person-outline text-white"></a>
	</div>
  <ion-content  class="bg-home" ng-controller="registerCtrl" scroll="false">
	<div class="list has-header">
		<div class="home-call-to-action text-center animated fadeInUp">
			<p class="text-white" style="font-size: 18px;margin-bottom:34px;"><span style="font-weight: lighter;color:#d8d5d5">Hola,</span> &nbsp;¡solicita tu préstamo! ya</p>
			<a ng-href="#/simulator"><button class="button button-rounded button-start button-outline button-small button-light icon-right ion-log-in">
			  Comenzar
			</button></a>		
		</div>
	</div>
	<div class = "bar bar-footer bar-footer-transparent">
	  	<div class="row">
	  		<div class="col text-center">
			      <a ng-href="#/simulator"><button class="button button-float-warning button-home">
			        <i class="icon ion-plus"></i>
			      </button></a>
			      <p class="text-white button-bottom-text">Solicitar préstamo</p>
	  		</div>
	  		<div class="col text-center">
			      <a ng-href="#/aboutus"><button class="button button-float button-home">
			        <i class="icon ion-ios-people"></i>
			      </button></a>
			      <p class="text-white button-bottom-text">¿Quiénes somos?</p>
	  		</div>
	  		<div class="col text-center">
			      <a ng-href="#/requirements"><button class="button button-float button-home">
			        <i class="icon ion-clipboard"></i>
			      </button></a>
			      <p class="text-white button-bottom-text">Requisitos</p>
	  		</div>
	  	</div>
	</div>
</ion-view>