 <ion-view view-title="Ingresar" name="login-view" hide-nav-bar="true" >
  <ion-content class="padding login-background" ng-controller="simulatorCtrl" ng-init="load()" style="background-color:black;">
	<section class="login-container">
	    <div class = "col header text-center">
	       <a ng-href="#/home"><img src="./img/ionic.png" class = "simulator-logo" /></a>
	    </div>
	</section>
   <div class="col text-center"><p class="simulator-warning animated bounce text-warning noselect" ng-show="show_warning_msg"><i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i> Su cupo inicial máximo es de 300.000 pesos.</p></div>
	<br>
		<div class = "row">
		   <div class = "col">
		   		<p class="text-white text-center" style="font-size: 18px;">¿Cúanto dinero necesitas?</p>
				<div class="row">
					<div class="col"></div>
					<div class="col text-right"><p class="text-primary" style="font-size:18px;">{{form.data.amount[0] || 0 | currency:"$ " }}</p></div>
				</div>
    			<slider step="50000" instance="amount_instance" id="amount" ng-model="form.data.amount" initial="200000" range="[100000, 500000]"></slider>               
		    </div>
		</div>
		<br />
		<div class = "row">
		   		<div class = "col">
		   		<p class="text-white text-center" style="font-size: 18px;">¿Cúando puedes pagar?</p>
				<div class="row">
					<div class="col"></div>
					<div class="col text-right"><p class="text-primary" style="font-size:18px;" ng-init="form.data.date = currentDate">{{'En ' + form.data.days }} <span class="text-white">diás.</span></p></div>
				</div>
    			<slider step="1" instance="days_instance" ng-model="form.data.days" initial="15" range="[1, 30]"></slider>            
		    </div>
		</div>
		<br />
		<div class="row">
			<button style="margin-top:20px;" class="button button-block button-custom" ng-click="go_to('resumen', form)">SIGUIENTE</button>
		</div>
		<div class="row">
			<div class="col text-left">
				<a ui-sref="login" class="text-primary">Entrar</a>
			</div>
			<div class="col text-right">
				<a ui-sref="register" class="text-primary">Registrarse</a>
			</div>
		</div>
  </ion-content>
</ion-view>